.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
data/mail/*
!data/mail/.gitkeep
data/DoctrineORMModule
!data/DoctrineORMModule/.gitkeep
module/ZfbUser
.idea
/composer.phar
