table.table-contragents > thead > tr > th {
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    color: #999999;
    border-bottom: 2px solid #e0e2e5;
}

table.table-contragents > tbody > tr > td {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.36;
    text-align: left;
    color: #404040;
    border: none;
    padding: 17px 8px;
    vertical-align: middle;
}

table.table-contragents > tbody > tr > td .btn {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#contragentModal.modal {
    padding-right: 0 !important;
    height: 100%;
}

#contragentModal .modal-dialog {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
}

#contragentModal .modal-dialog .modal-content {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

#contragentModal .modal-dialog .modal-content .modal-header,
#contragentModal .modal-dialog .modal-content .modal-body,
#contragentModal .modal-dialog .modal-content .modal-footer {
    width: 370px;
    margin: 0 auto;
    padding: 0;
}

#contragentModal .modal-dialog .modal-content .modal-header {
    margin-top: 45px;
    margin-bottom: 80px;
}

#contragentModal .modal-dialog .modal-content .modal-header .modal-title {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: -0.2px;
    text-align: center;
    color: rgb(64, 64, 64);
}

#contragentModal .modal-dialog .modal-content .modal-header .close {
    position: absolute;
    top: 30px;
    right: 50px;
    border-radius: 50%;
    display: inline-block;
    width: 58px;
    height: 58px;
    background: rgb(236, 239, 245);
    margin-top: 0;
    opacity: 0.7;
}

#contragentModal .modal-dialog .modal-content .modal-header .close:hover {
    opacity: 1;
}

#contragentModal .modal-dialog .modal-content .modal-header .close span {
    font-weight: normal;
    font-size: 40px;
    line-height: 26px;
    color: rgb(128, 141, 151);
}

#contragentModal .modal-dialog .modal-content .bmd-form-group .bmd-label-floating {
    font-size: 16px;
    font-weight: normal;
    color: rgb(156, 174, 187);
}
#contragentModal .modal-dialog .modal-content .bmd-form-group.is-focused .bmd-label-floating {
    font-size: 12px;
    font-weight: normal;
    color: rgb(156, 174, 187);
}

#contragentModal .modal-dialog .modal-content button[type="button"] {
    margin-top: 60px;
}

#contragentModal .modal-dialog .modal-content fieldset {
    margin-top: 20px;
}

#contragentModal .modal-dialog .modal-content fieldset legend {
    font-size: 16px;
}

/*begin contragent info*/
.contragent_info {
    margin-top: 30px;
}
.contragent_info .title {
    display: block;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.97;
    letter-spacing: normal;
    text-align: left;
    color: rgb(64, 64, 64);
    margin-bottom: 62px;
}

.contragent_info .title small {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: rgb(153, 153, 153);
}

.contragent_info .nav {
    margin-top: -62px;
    margin-bottom: 20px;
}

.contragent_info .nav .nav-item {
    margin-right: 30px;
}
.contragent_info .nav .nav-item .nav-link {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgb(64, 64, 64);
    text-transform: none;
    padding-left: 0;
    padding-right: 0;
}

.contragent_info .nav .nav-item .nav-link.active {
    border-bottom: 4px solid #ff9e00;
}

.contragent_info .row > div {
    padding: 0;
}

.contragent_info .label {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgb(153, 153, 153);
}

.contragent_info .value {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: rgb(64, 64, 64);
}

.contragent_info .contact_header {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: rgb(64, 64, 64);
}
/*end contragent info*/

/* begin provider tariffs */
.contragent_info .tariffs_accordion .card {
    padding: 10px 20px 0 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.contragent_info .tariffs_accordion .card.archived {
    opacity: 0.7;
    cursor: not-allowed;
}

.contragent_info .tariffs_accordion .card .card-header {
    border-bottom: none;
    cursor: pointer;
}

.contragent_info .tariffs_accordion .card .card-header .name {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: rgb(64, 64, 64);
}

.contragent_info .tariffs_accordion .card .card-header .desc {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: rgb(153, 153, 153);
    margin-bottom: 0.5rem;
}

.contragent_info .tariffs_accordion .card .card-header .cost {
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    letter-spacing: normal;
    text-align: right;
    color: rgb(64, 64, 64);
}

.contragent_info .tariffs_accordion .card .card-header .nds {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: right;
    color: rgb(153, 153, 153);
}

.contragent_info .tariffs_accordion .card .card-header .status {
    font-size: 14px;
    font-weight: 300;
    color: rgb(153, 153, 153);
}

.contragent_info .tariffs_accordion .card .card-body {
    padding-left: 0;
}

.contragent_info .tariffs_accordion .card .card-body .btn-group .btn {
    margin-right: 20px;
}

/* end provider tariffs */

.contragent_info .user-cards {
    margin-top: 20px;
}

.contragent_info .user-cards > div:nth-child(2n) {
    /*padding-left: 30px;*/
}

.contragent_info .user-cards > div {
    margin-top: 30px;
    padding: 0 15px 0 15px;
}

.contragent_info .user-cards .dropdown {
    height: 100%;
}

.contragent_info .user-cards .dropdown .dropdown-toggle {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.contragent_info .user-cards .card .name {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: rgb(64, 64, 64);
}

.contragent_info .user-cards .card .email {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: rgb(153, 153, 153);
}
