body {
    padding-top: 104px;
    padding-bottom: 40px;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

body.modal-open {
    overflow: hidden;
}

.g-recaptcha > div {
    margin: 0 auto;
}

.btn-raised.btn-primary.btn-blue {
    border-radius: 2px;
    background-color: rgb(0, 133, 255);
    border-color: rgb(0, 133, 255);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-transform: none;
    color: rgb(255, 255, 255);
}

.btn-raised.btn-default.btn-edit {
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    line-height: 24px;
}
.btn .material-icons {
    font-size: 24px;
    line-height: 24px;
    float: left;
    padding-right: 5px;
}

.btn-raised.btn-primary.btn-blue:disabled {
    opacity: .5;
}

.btn-raised.btn-primary.btn-blue:hover, .btn-raised.btn-primary.btn-blue:active, .btn-raised.btn-primary.btn-blue:focus {
    background-color: rgb(0, 133, 255) !important;
    color: rgb(255, 255, 255);
}

.search-input-group {
    margin-left: 6px;
}

.search-input-group .input-group-prepend {
    width: 26px;
    margin-right: -32px;
    z-index: 10;
}

.search-input-group .input-group-prepend .input-group-text .material-icons {
    color: rgb(159, 168, 176);
    z-index: 999;
}

.search-input-group .search-field {
    padding-left: 32px;
    font-size: 14px;
    color: rgb(159, 168, 176);
    background-color: rgb(247, 247, 247);
    border: solid 0.5px rgb(248, 248, 248);
    background-image: none;
}

.search-input-group .search-field::placeholder {
    font-size: 14px;
    color: rgb(159, 168, 176);
}

.search-input-group .search-field:focus {
    color: #404040;
}

.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}

.bg-light {
    background-color: #f7f8f9;
}

.was-validated .is-focused .form-control {
    border: none !important;
    box-shadow: none !important;
}

.is-filled .form-control:invalid {
    background-size: 100%, 100%, 100%, 100%;
}

.back_link {
    position: absolute;
    top: 100px;
    left: 38px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(128, 141, 151);
}

.back_link:hover, .back_link:active, .back_link:focus {
    color: rgb(128, 141, 151);
}

.back_link .material-icons {
    font-size: 16px;
    vertical-align: text-top;
}

/*begin navbar*/
.navbar {
    padding: 0;
    z-index: 100;
}

.navbar .menu .nav-link {
    padding-top: 28px;
    padding-bottom: 24px;
    text-transform: none;
    font-size: 14px;
    color: #999999;
}

.navbar .menu .nav-item.active .nav-link {
    box-shadow: none;
    background: none;
    font-size: 14px;
    color: #2b2b2b;

    border-bottom: 2px solid #ff9e00;
}

.navbar .user-menu .nav-item .nav-link {
    font-size: 14px;
    text-align: left;
    text-transform: none;
    color: #999999;
}

.navbar .user-menu .nav-item .nav-link .user-name {
    color: #2b2b2b;
}

.navbar .user-menu .nav-item .nav-link .contragent-name {
    font-size: 11px;
    color: #999999;
}

.navbar .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

/*end navbar*/

@media (max-width: 575.98px) {
    body > div.container {
        padding: 0 40px;
    }
    .col-xs {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-xs-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }

    .col-xs-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }

    .col-xs-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .col-xs-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-xs-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .col-xs-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-xs-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .col-xs-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .col-xs-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-xs-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .col-xs-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .offset-xs-0 {
        margin-left: 0
    }

    .offset-sm-1 {
        margin-left: 8.33333%
    }

    .offset-xs-2 {
        margin-left: 16.66667%
    }

    .offset-xs-3 {
        margin-left: 25%
    }

    .offset-xs-4 {
        margin-left: 33.33333%
    }

    .offset-xs-5 {
        margin-left: 41.66667%
    }

    .offset-xs-6 {
        margin-left: 50%
    }

    .offset-xs-7 {
        margin-left: 58.33333%
    }

    .offset-xs-8 {
        margin-left: 66.66667%
    }

    .offset-xs-9 {
        margin-left: 75%
    }

    .offset-xs-10 {
        margin-left: 83.33333%
    }

    .offset-xs-11 {
        margin-left: 91.66667%
    }
}

.card-body .row {
    margin-right: 0;
    margin-left: 0;
}

.z-depth {
    box-shadow: 0 8px 30px 0 rgba(178, 178, 178, 0.25);
}

a, .color-blue {
    color: rgb(0, 133, 255);
}

a:hover, a.color-blue:hover {
    color: rgb(0, 133, 255);
}

.color-red {
    color: rgb(255, 37, 25);
}

.color-red:hover {
    color: rgb(255, 37, 25);
}

.is-focused [class*=" bmd-label"], .is-focused [class^="bmd-label"] {
    color: #9caebb;
}

.checkbox label input[type=checkbox]:checked+.checkbox-decorator .check, label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check {
    color: #0085FF;
    border-color: #0085FF;
}
.checkbox label input[type=checkbox]:checked+.checkbox-decorator .check:before, label.checkbox-inline input[type=checkbox]:checked+.checkbox-decorator .check:before {
    color: #0085FF;
}